@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutNG.cshtml";
   
}



<div ng-controller="SitesController as vm">
    <h1> Sites</h1>
    <p><a href="~/Sites/Create">Create New</a></p>
    <p ng-repeat="sites in vm.sites">
   
    </p>
    <table ng-table="vm.tableParams" class="table">
        <tr ng-repeat="sites in vm.sites">
            <td data-title="'User Name'">{{sites.userName}}</td>
            <td data-title="'Date'">{{sites.date}}</td>
            <td data-title="'Site Url'"><a href="{{sites.siteUrl}}">{{sites.siteUrl}}</a> </td>
            <td>
                <a href="~/Sites/Edit/{{sites.siteID}}">Edit</a>
                <a href="~/Sites/Details/{{sites.siteID}}">Details</a>
                <a href="~/Sites/Delete/{{sites.siteID}}">Delete</a>
            </td>

        </tr>
    </table>

</div>